.navbar {  
    background-color: #967f00e3;   
    padding: 10px 20px;  
    display: flex;
    justify-content: end;
    align-items: center;
}  

.menu{  
    list-style: none;   
    display: flex; 
    gap: 2.5em;   
}  

.menuItem{  
    margin: 3px; 
}  

.menuItem a{  
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.747); 
    font-size: 18px;
    transition: color 0.5s;
}  

.menuItem a:hover {  
    color: #00000091; 
}

.name{
    width: 55%;
    font-size: 30px;
    color: antiquewhite;
    margin-right: 40px;

}

.imgStar{
    width: 30px;
}